[Unit]
Description=MegaVox 2000 Wi-Fi Setup
After=NetworkManager.service
Wants=NetworkManager.service

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=INSTALL_DIR_PLACEHOLDER/turbovox-boot.sh start
ExecStop=INSTALL_DIR_PLACEHOLDER/turbovox-boot.sh stop

[Install]
WantedBy=multi-user.target
